<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- page.title ?? config.title %></title>
    <%- css('css/style.css') %>
</head>

<body class="text-gray-700">
    <div class="max-w-[50rem] mx-auto mt-5 px-3">
        <nav class="px-4 flex justify-between gap-x-5 text-xl mb-5">
            <span>
                <% if (path != 'index.html') { %>
                    <a href="<%= url_for('/') %>" class="hover:underline">Posts</a>
                <% } %>
            </span>
            <span><a href="<%= url_for('about') %>" class="hover:underline">About</a></span>
        </nav>

        <div>
            <%- body %>
        </div>

        <footer class="mt-8 text-center">
            fajaralfa
        </footer>
    </div>
</body>

</html>