<header>
    <h1 class="text-3xl font-bold"><%= page.title %></h1>
</header>
<div class="text-sm opacity-75">
<%- page.date.format(config.date_format) %>
</div>
<article class="pt-2"><%- page.content %></article>

<div class="py-10 flex flex-col md:flex-row items-start md:justify-between gap-1">
<% if (page.next) { %>
    <a href="<%= url_for(page.next.path) %>">Sebelumnya: <%= page.next.title %></a>
<% } %>
<% if (page.prev) { %>
    <a href="<%= url_for(page.prev.path) %>">Selanjutnya: <%= page.prev.title %></a>
<% } %>
</div>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://fajaralfa.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>